<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
  ></ion-searchbar>
  <ion-list>
    <ion-item  button>
      <ion-label class="ion-text-wrap">
        <h3>Australia Scholarship for postgraduate students and undergraduates</h3>
        <p>Deadline: 2/2/2020</p>
      </ion-label>
    </ion-item>

    <ion-item button >
      <ion-label class="ion-text-wrap">
        <h3>Australia Scholarship for postgraduate students and undergraduates</h3>
        <p>Deadline: 2/2/2020</p>
      </ion-label>
    </ion-item>

    <ion-item button >
      <ion-label class="ion-text-wrap">
        <h3>Australia Scholarship for postgraduate students and undergraduates</h3>
        <p>Deadline: 2/2/2020</p>
      </ion-label>
      </ion-item>

    <ion-item button >
      <ion-label class="ion-text-wrap">
        <h3>Australia Scholarship for postgraduate students and undergraduates</h3>
        <p>Deadline: 2/2/2020</p>
      </ion-label>
    </ion-item>

    <ion-item button >
      <ion-label class="ion-text-wrap">
        <h3>Australia Scholarship for postgraduate students and undergraduates</h3>
        <p>Deadline: 2/2/2020</p>
      </ion-label>
    </ion-item>

    <ion-item button >
      <ion-label class="ion-text-wrap">
        <h3>Australia Scholarship for postgraduate students and undergraduates</h3>
        <p>Deadline: 2/2/2020</p>
      </ion-label>
    </ion-item>

    <ion-item button >
      <ion-label class="ion-text-wrap">
        <h3>Australia Scholarship for postgraduate students and undergraduates</h3>
        <p>Deadline: 2/2/2020</p>
      </ion-label>
    </ion-item>

    <ion-item button >
      <ion-label class="ion-text-wrap">
        <h3>Australia Scholarship for postgraduate students and undergraduates</h3>
        <p>Deadline: 2/2/2020</p>
      </ion-label>
    </ion-item>

    <ion-item button >
      <ion-label class="ion-text-wrap">
        <h3>Australia Scholarship for postgraduate students and undergraduates</h3>
        <p>Deadline: 2/2/2020</p>
      </ion-label>
    </ion-item>

    <ion-item button >
      <ion-label class="ion-text-wrap">
        <h3>Australia Scholarship for postgraduate students and undergraduates</h3>
        <p>Deadline: 2/2/2020</p>
      </ion-label>
    </ion-item>

    <ion-item button >
      <ion-label class="ion-text-wrap">
        <h3>Australia Scholarship for postgraduate students and undergraduates</h3>
        <p>Deadline: 2/2/2020</p>
      </ion-label>
    </ion-item>

    <ion-item button >
      <ion-label class="ion-text-wrap">
        <h3>Australia Scholarship for postgraduate students and undergraduates</h3>
        <p>Deadline: 2/2/2020</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
